<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">

	<title>Maureen | the template lab</title>
	<meta name="description" content="">

	<link href="http://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
	<script src="js/less-1.2.1.min.js" type="text/javascript"></script>
</head>
<body class="">
	<header class="wrapper">
		<a class="logo" href="."><img src="img/logo.jpg" alt="logo"></a>
	</header>
	<div role="main">
		<article class="big-bg-wide light">
			<div class="wrapper">
				<header>
					<h2>Style Big Background light</h2>
				</header>
				<div class="content">

					<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing
					elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue
					ligula ac quam viverra nec consectetur ante hendrerit. Donec et
					mollis dolor.  Praesent et diam eget libero egestas mattis sit amet
					vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
					consectetur. Donec ut libero sed arcu vehicula ultricies a non
					tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed,
					adipiscing id dolor.  Pellentesque auctor nisi id magna consequat
					sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt
					feugiat nisl imperdiet.  Ut convallis libero in urna ultrices
					accumsan. Donec sed odio eros.  Donec viverra mi quis quam pulvinar
					at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis
					parturient montes, nascetur ridiculus mus. In rutrum accumsan
					ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

				</div>
				<footer>
						2012-03-20
						<ul class="nl">
							<li><a href="/tag/gesellschaft">Gesellschaft</a></li>
							<li><a href="/tag/technik">Technik</a></li>
						</ul>
				</footer>
			</div>
		</article>
		<article class="big-bg-wide dark">
			<div class="wrapper">
				<header>
					<h2>Style Big Background dark</h2>
				</header>
				<div class="content">

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
					a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac
					quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
					Praesent et diam eget libero <a href="#">egestas</a> mattis sit amet vitae augue. Nam
					tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut
					libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor
					sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut
					turpis felis, pulvinar a semper sed, adipiscing id dolor.
					Pellentesque auctor nisi id magna consequat sagittis. Curabitur
					dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
					Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
					Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum
					sociis natoque penatibus et magnis dis parturient montes, nascetur
					ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem
					facilisis semper ac in est.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
					a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac
					quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
					Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam
					tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut
					libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor
					sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut
					turpis felis, pulvinar a semper sed, adipiscing id dolor.
					Pellentesque auctor nisi id magna consequat sagittis. Curabitur
					dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
					Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
					Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum
					sociis natoque penatibus et magnis dis parturient montes, nascetur
					ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem
					facilisis semper ac in est.</p>
	
				</div>
				<footer>
						2012-03-20
						<ul class="nl">
							<li><a href="/tag/gesellschaft">Gesellschaft</a></li>
							<li><a href="/tag/technik">Technik</a></li>
						</ul>
				</footer>
			</div>
		</article>
	</div>
	<footer></footer>
</body>
</html>
