/* ***************************** *\
 * Imports
 *  **************************** */

@import "reset.less";
@import "variables.less";
@import "mixins.less";

/* ***************************** *\
 * Base
 * ***************************** */

html {
	overflow-y: scroll;
	/*font-size: 100%;
	line-height: 1.5;*/
	background: @bg-light;
	color: @f-dark;
	/* font-family: "Helvetice Neue",Arial,sans-serif;*/
	font: 400 100%/1.6 'Muli', Verdana, Helvetica, sans-serif;
}
body {
	min-height: 100%;
}

h1, h2 {
	font: 400 300%/1.5 'Playfair Display', Georgia, serif;
}

a {
	color: @f-mid;
}
a:visited{
	opacity:0.8; /* A bit basic, but it’s a bare minumum... */
}
a:hover{
	text-decoration:underline;
}
a:active,
a:focus{
	/* Give clicked links a depressed effect. */
	position:relative;
	top:1px;
}

img {
	width: 100%;
	height: auto;
	color: #c00;
}



/* ***************************** *\
 * Layout
 * ***************************** */

.logo {
	margin: 40px 2.083%;
	float: left;
}
/*
Your logo is an image, not a h1: csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/
*/
.logo,
.logo img{
	display:block;
	width:auto; /* Width of your logo in pixels (ideally a round grid-number) */
	height:auto; /* Height of your logo in pixels */
	width: 100px;
	height: 100px;
}
/* Based on the fact that we need to use an <img /> in our markup, let’s hide the actual image and use a background on the <a>--this gives us semantically sound markup and the ability to use sprites for hover effects! */
.logo{
	background:url(../img/logo.png);
}
	.logo:hover{
		/* Hover states */
		background-position:0 -100px;
	}
.logo img{
	/*position:absolute;
	left:-99999px;*/
	opacity:0;
	filter:alpha(opacity=0); /* Ew, IE hack */
}




.wrapper {
	width: 960px;
	margin: 0 auto;
}

.light,
.light .content,
.light footer{
	background: @bg-light;
	color: @f-dark;
}

.dark,
.dark .content,
.dark footer{
	background: @bg-dark;
	color: @f-light;
}

article {
	padding: 60px 0 60px;

	header {
		margin: 0 0 0 2.083%;
	}

	footer {
		width: 14.583%;
		float: left;
		color: #aaa;
		font-size: 0.7em;
		margin: 0 0 0 2.083%;
		div {
			padding: 10px;
		}
	}
	p {
		padding: 10px;
	}
}



.big-bg-wide {

	.content {
		width: 81.25%;
		float: left;
		margin: 0 0 0 2.083%;
	}
}

.big-gb-small {

}

.big-teaser {

}

.teaser-cols {

}

.teader-fluid {

}

.no-img-small {

}

.no-img-wide {

}

body > footer {
	padding: 40px 0;
	background: @bg-dark;
	color: @f-mid;
}



/* ***************************** *\
 * Module
 * ***************************** */

/* Clearfix */
.cf,
.grids,
article,
.wrapper,
.media{
	zoom:1;
}
.cf:before,
.grids:before,
.media:before,
article:before,
.wrapper:before,

.cf:after,
.grids:after,
article:after,
.wrapper:after,
.media:after{
	content:"";
	display:table;
}
.cf:after,
.grids:after,
article:after,
.wrapper:after,
.media:after{
	clear:both;
}

.nl {
	list-style-type: none;
	margin: 0;
}

.pagination {
	text-align: center;
	margin-bottom: 60px;
	padding: 10px;
}
.pagination a {
	padding: 5px 10px;
	color: @f-dark;
}
a.anker:hover,
.pagination a:hover {
	text-decoration: none;
	color: @f-light;
	background: @bg-dark;
}



/* ***************************** *\
 * State
 * ***************************** */

/* ***************************** *\
 * Individual Blogpost styling
 * ***************************** */
@import "individuals.less";
