/* ***************************** *\
 * Variables
 * ***************************** */

@f-dark: #444;
@f-mid: #aaa;
@f-light: #eee;

@b-dark: #444;
@b-light: #fff;

/* ***************************** *\
 * Imports
 *  **************************** */

@import "reset.less";

/* ***************************** *\
 * Base
 * ***************************** */

html {
	overflow-y: scroll;
	/*font-size: 100%;
	line-height: 1.5;*/
	background: @b-light;
	color: @f-dark;
	/* font-family: "Helvetice Neue",Arial,sans-serif;*/
	font: 400 100%/1.6 'Muli', Verdana, Helvetica, sans-serif;
}
body {
	min-height: 100%;
}

h1, h2 {
	font: 400 300%/1.5 'Playfair Display', Georgia, serif;
}



/* ***************************** *\
 * Layout
 * ***************************** */

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.light {

}

.dark {

}

article footer {
	width: 14.583%;
	float: left;
	color: #aaa;
	font-size: 0.8em;
	margin: 0 0 0 2.083%;
}
article p {
	padding: 10px;
}


.big-bg-wide {

	.content {
		width: 81.25%;
		float: left;
		margin: 0 0 0 2.083%;
	}
}

.big-gb-small {

}

.big-teaser {

}

.teaser-cols {

}

.teader-fluid {

}

.no-img-small {

}

.no-img-wide {

}

/* ***************************** *\
 * Module
 * ***************************** */

/* ***************************** *\
 * State
 * ***************************** */
